<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">
      <table>
      <h5>初めての方へ</h5>
      <h6>新規登録はこちら</h6>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-7 mt-5">
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :ニックネーム %><br>
        <%= f.text_field :nickname, class: "p-1 mb-3" %>
      </div>

      <div class="field">
        <%= f.label :アカウント名 %><br>
        <%= f.text_field :name, class: "p-1 mb-3" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "p-1 mb-3" %>
      </div>

      <div class="field">
        <%= f.label :電話番号 %><br>
        <%= f.text_field :telephone_number, class: "p-1 mb-3" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "p-1 mb-3" %>
      </div>

      <div class="field">
        <%= f.label :再パスワード %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "p-1 mb-3" %>
      </div>

      <div>
        <%= f.label :プロフィール画像 %><br />
        <%= f.file_field :profile_image, accept: "image/*", class: "p-1 mb-3" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-warning mt-3 mb-5" %>
      </div>
        <% end %>
      <%#= render "user/shared/links" %>
    </div>
  </div>
</div>





