<div clas="container">
  <div calss="row">
    <div class="col-md-12">
        <p class="mb-6"><%= flash[:notice] %></p>
    </div>
  </div>
  <table>
  <div class="row">
    <div class="col-md-8 pb-3 m-1">
    <h5 class="pb-4">■ ユニークベジティナブルサイトとは？</h5>
    </div>
    <div class="col-md-5 pb-3 m-1">
        <p>形がいびつであったり、大きさがバラバラである規格外野菜をレビューするサイトです。</p>
        <p>食べられるのにスーパーの出荷基準に満たない野菜が破棄されてしまうなど、<br>
        サスティナビリティの観点より食品ロスをサポートすることが目的です。</p>
        <p>★ユーザーの会員やレビュー投稿を増やし、農家さんの応援へ繋げていきましょう！</p>
    </div>
  </div>
   </table>
  <div class="row">
    <table>
      <div class="col-md-6 pl-5 pt-4 pb-1">
          <h5><%= image_tag '716.jpg', class: 'hoge' , size: '90x90'%>名前の由来</h5>
          <p class="pb-4">ユニーク ∔ ベジタブル ∔ サスティナブル</p>
          <h5 class="pb-2">▼ 食品ロスとは？ ▼</h5>
          <%= link_to admin_homes_about_path do %>
            <%= image_tag 'sdgs_food.jpg', class: 'hoge' , size: '300x100'%>
          <% end %>
      </div>
      <div class="col-md-2 pt-4 mb-3 px-2">
        <%= link_to admin_homes_about_path do %>
          <%= image_tag 'food.jpg', class: 'hoge' , size: '450x300'%>
        <% end %>
      </div>
    </table>
  </div>
</div>

