<div class="container">

  <div class="row">
    <div class="col-5 pt-5 ml-5">
      <div>
        <p class="mb-5 h5"><%= flash[:notice] %></p>
      </div>
    <table>
      <%= form_tag vegetainable_reviews_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'ハッシュタグ検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    </table>
    </div>
  </div>

    <% @vegetainable_reviews.each do |vegetainable_review| %>
    <table>
      <div class="row">
        <div class="col-3 mt-5 pt-4 mb-3">
            <tr>
              <td>
                <%= link_to vegetainable_review_path(vegetainable_review.id) do %>
                <%= image_tag vegetainable_review.get_image(300, 200) if vegetainable_review.image.attached? %>
                <% end %>
              </td>
            </tr>
        </div>
        <div class="col-4">
            <tr>
              <th class="p-3">
              <%= image_tag vegetainable_review.user.get_profile_image(80, 80) %>
              @<%= vegetainable_review.user.name %> ( <%= vegetainable_review.user.nickname %> )</th>
            </tr>
            <tr>
              <th class="p-3"><%= vegetainable_review.title %></th>
            </tr>
            <tr>
              <td class="pt-1 pb-3 pl-3"><%= vegetainable_review.caption %></td>
            </tr>
            <tr>
              <td class="p-3">農家：<%= vegetainable_review.farmer_name %></td>
            </tr>
            <% if current_user %>
              <tr>
                <td><%= link_to "もう一度レビューを投稿する", new_vegetainable_review_path, class: "btn btn-outline-warning ml-4 mt-3"%></td>
              </tr>
            <% end %>
            <hr class="p-2">
        </div>
      </div>
    </table>
    <% end %>
    <div class="pl-3 m-4 pt-4 h5">
    <tr>
      <td><%= paginate @vegetainable_reviews %></td>
    </tr>
    </div>
</div>