<div class="container">

  <div class="row">
    <div class="col-5 pt-5 ml-5">
      <div>
        <p class="mb-5 h5"><%= flash[:notice] %></p>
      </div>
    <table>
      <%= form_tag vegetainable_reviews_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'ハッシュタグ検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    </table>
    </div>
  </div>

    <% @vegetainable_reviews.each do |vegetainable_review| %>
    <table>
      <div class="row">
        <div class="col-3 mt-5 pt-4 mb-3">
            <tr>
              <th class="p-3"><%= image_tag '716.jpg', class: 'hoge' , size: '90x90'%>@<%= vegetainable_review.user.name %> ( <%= vegetainable_review.user.nickname %> )</th>
            </tr>
            <tr>
              <td>
                <%= link_to vegetainable_review_path(vegetainable_review.id) do %>
                  <% if vegetainable_review.image.attached? %>
                  <%= image_tag vegetainable_review.image, size: "300x200" %>
                  <% else %>
                  <%= image_tag 'no_image', size: "300x200" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
        </div>
        <div class="col-4">
            <tr>
              <th class="p-3"><%= vegetainable_review.title %></th>
            </tr>
            <tr>
              <td class="pt-1 pb-3 pl-3"><%= vegetainable_review.caption %></td>
            </tr>
            <tr>
              <td class="p-3">農家：<%= vegetainable_review.farmer_name %></td>
            </tr>
            <tr>
              <td><%= link_to "もう一度レビューを投稿する", new_vegetainable_review_path, class: "btn btn-outline-warning ml-4 mt-3"%></td>
            </tr>
        </div>
      </div>
    </table>
    <% end %>
</div>