<div class="container">
  <div class="row">
    <div class="col-5">
      <tr>
        <h2 class="p-2 text-center">レビュー投稿一覧</h2>
      </tr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pt-5 ml-3">
      <table>
      <%= form_tag vegetainable_reviews_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    </table>
    </div>
  </div>

    <% @vegetainable_reviews.each do |vegetainable_review| %>
      <div class="row">
        <div class="col-8 mt-5 border-top pt-4 mb-3">
          <table>
            <tr>
              <td>
                <%= link_to vegetainable_review_path(vegetainable_review.id) do %>
                  <% if vegetainable_review.image.attached? %>
                  <%= image_tag vegetainable_review.image, size: "300x200" %>
                  <% else %>
                  <%= image_tag 'no_image', size: "300x200" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="p-3"><%= vegetainable_review.title %></th>
            </tr>
            <tr>
              <td class="p-3"><%= vegetainable_review.caption %></td>
            </tr>
            <tr>
              <td><%= link_to "もう一度レビューを投稿する", new_vegetainable_review_path, class: "btn btn-primary ml-4 mt-3"%></td>
            </tr>
          </table>
        </div>
      </div>
      <% end %>
</div>