<h2>レビュー投稿フォーム</h2>
<%= form_with model: @vegetainable_review do |f| %>
  <h4>*レビュータイトル</h4>
  <%= f.text_field :title %>
  <h4>*購入した野菜</h4>
  <%= f.text_field :name %>
  <h4>産地</h4>
  <%= f.text_field :area %>
  <h4>購入価格</h4>
  <%= f.text_field :price %>円
  <h4>個数</h4>
  <%= f.text_field :amount %>個入り
  <h4>農家さん</h4>
  <%= f.text_field :farmer_name %>
  <h4>購入先(例：〇〇の道の駅など)</h4>
  <%= f.text_field :shop_name %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>*レビュー記入欄</h4>
  <%= f.text_area :caption %>
  <%= f.submit 'レビューを投稿する' %>
<% end %>