<div clas="container">
  <!--<div class="row">-->
  <!--  <div class="col-12">-->
  <!--    <table class="m-1">-->
  <!--    <h4 class="mx-auto mb-10 ml-5 alert-secondary p-2 text-center mt-5">レビュー投稿詳細</h4>-->
  <!--    </table>-->
  <!--  </div>-->
  <!--</div>-->


<%= form_with model: @vegetainable_review, method: :patch, url: vegetainable_review_path do |f| %>
<div class="row">
  <div class="col-5">
    <table class="m-1">
    <tr>
       <th class="pl-4 pt-3 h5">
         <%#= image_tag vegetainable_review.user.get_profile_image(90,90) %>
         @<%= @vegetainable_review.user.name %> ( <%= @vegetainable_review.user.nickname %> )</th>
    </tr>
    <tr>
      <td class="pt-4 px-3">
          <!--画像-->
          <% if @vegetainable_review.image.attached? %>
          <%= image_tag @vegetainable_review.image, size: "400x350" %>
          <% else %>
          <%= image_tag 'no_image', size: "170x200" %>
          <% end %>
        <!--いいね機能-->
        <% if @vegetainable_review.favorited_by?(current_user) %>
          <p class="p-3 text-right">
            <%= link_to favorite_path(@vegetainable_review), method: :delete do %>
            ♥ <%= @vegetainable_review.favorites.count %> いいね
          <% end %>
          </p>
          <% else %>
          <p class="p-3 text-right">
            <%= link_to favorite_path(@vegetainable_review), method: :post do %>
            ♡ <%= @vegetainable_review.favorites.count %> いいね
          <% end %>
          </p>
        <% end %>
      </td>
    </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-7 ml-4">
    <table>
      <td>
      <tr>
          <td class="pt-2 pb-2 px-3"><h4><%= @vegetainable_review.title %></h4></td>
      </tr>
      <tr>
          <th></th>
      </tr>
      <tr>
          <td class="p-3"><%= @vegetainable_review.caption %></td>
      </tr>
      <tr>
        <td class="p-4">
        <% @vegetainable_review.tags.each do |tag| %>
        # <%= link_to tag.name,vegetainable_reviews_path(tag_id: tag.id) %>
        <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

    </table>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <table class="m-1 mt-4">
      <tr>
         <th class="border border-3 p-3">購入した野菜</th>
         <th class="border border-3 p-3">産地</th>
         <th class="border border-3 p-3">購入価格</th>
         <th class="border border-3 p-3">個数</th>
         <th class="border border-3 p-3">農家</th>
         <th class="border border-3 p-3 w-40">購入先</th>
      </tr>
      <tr>
        <td class="border border-3 p-3"><%= @vegetainable_review.name %></td>
        <td class="border border-3 p-3"><%= @vegetainable_review.area %></td>
        <td class="border border-3 p-3"><%= @vegetainable_review.price %>円</td>
        <td class="border border-3 p-3"><%= @vegetainable_review.amount %>個</td>
        <td class="border border-3 p-3"><%= @vegetainable_review.farmer_name %></td>
        <td class="border border-3 p-3"><%= @vegetainable_review.shop_name %></td>
      </tr>
    </div>
  </div>
  </table>


<div class="row">
  <div class="col-12 mt-4">
    <tr>
      <td><%= link_to "レビューを編集する", edit_vegetainable_review_path, class: "btn btn-outline-warning pt-2 mt-4"%></td>
      <td><%= link_to "もう一度レビューを投稿する", new_vegetainable_review_path, class: "btn btn-outline-warning pt-2 ml-4 mt-4"%></td>
    </tr>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-2 mb-5">
    <tr>
       <td><%= link_to "レビューの一覧", vegetainable_reviews_path, class: "btn btn-outline-warning p-2 mt-4"%></td>
       <td><% if @vegetainable_review.user == current_user %>
        <%= link_to "削除", vegetainable_review_path(@vegetainable_review), method: :delete, class: "btn btn-outline-warning p-2 ml-4 mt-4", data: { confirm: '本当に削除しますか？' }  %>
        <% end %>
       </td>
    </tr>

</div>
</div>
<% end %>

  <div class="row">
    <div class="col-12">
      <p class="border-top p-3">コメント件数：<%= @vegetainable_review.comments.count %></p>
      <% @vegetainable_review.comments.each do |comment| %>
        <p><%#= image_tag comment.user.get_profile_image(100,100) %></p>
        <tr>
          <td>@<%= comment.user.name %>：</td>
          <td><%= comment.created_at.strftime('%Y/%m/%d') %>：</td>
          <td><%= comment.content %></td>
        </tr>
      <% end %>

      <%= form_with url: vegetainable_review_comments_path(@vegetainable_review.id), model: @comment do |f| %>
        <%= f.text_area :content, rows: '5', placeholder: "コメントはこちらへ", class: "mt-4 px-5" %>
        <%= f.submit "送信する", class: "btn btn-outline-warning p-2 mt-4 mb-5" %>
      <% end %>
    </div>
  </div>
</div>