<!-- user/usersのmypage.html.erbとshow.html.erbの部分テンプレート  -->
<!-- 「該当のユーザー投稿一覧画面」の更新や修正はここで行う　-->
<div class="container">
       <div class="row">
            <div class="mt-5 p-1 col-sm-12">
            <h5>@<%= @user.name %> ( <%= @user.nickname %> ) さんのレビュー投稿一覧</h5>
            </div>
        </div>
  <div class="row">
    <div class="col-sm-5 pt-5 ml-5 mb-5">
    <table>
      <%= form_tag vegetainable_reviews_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'ハッシュタグ検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    </table>
    </div>
  </div>

  <table>
    <tbody class="col-sm-12 mt-5">

      <% @vegetainable_reviews.each do |vegetainable_review| %>
         <tr>
              <td>
                <%= link_to vegetainable_review_path(vegetainable_review.id) do %>
                  <%= image_tag vegetainable_review.get_image(300, 200) if vegetainable_review.image.attached? %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="p-3">
              <%= image_tag vegetainable_review.user.get_profile_image(80, 80) %>
              @<%= vegetainable_review.user.name %> ( <%= vegetainable_review.user.nickname %> )</th>
            </tr>
        <tr>
          <th class="p-3"><%= vegetainable_review.title %></th>
        </tr>
        <tr>
          <td class="pt-1 pb-3 pl-3"><%= vegetainable_review.caption %></td>
        </tr>
        <tr>
          <td class="p-3">農家：<%= vegetainable_review.farmer_name %><hr clas="pt-3"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <div class="col-sm-8 my-3">
      <tr>
      <%= link_to "<< 全レビュー投稿一覧へ戻る", vegetainable_reviews_path, class: "btn btn-outline-warning p-2 mr-4 mb-5" %>
    </tr>
    </div>

</div>