<div class="container">
    <div class="row">
       <table>
            <div class="mt-5 p-1 col-4">
            <h5>@<%= @user.name %> ( <%= @user.nickname %> ) さんのマイページ</h5>
            </div>
       </table>
    </div>

  <div class="row">
    <div class="col-8">
     <body>
       <% if @user.email != 'guest@example.com'%>
        <table class="mt-5 w-50 text-center border">
            <tr>
              <th class="py-2 border">プロフィール画像</th>
              <td class="border"><%= image_tag @user.get_profile_image(80, 80) %></td>
            </tr>
            <tr>
                <th class="py-2 border">会員ID</th>
                <td class="border"><%= @user.id %></td>
            </tr>
            <tr>
                <th class="p-2 border">アカウント名</th>
                <td class="border">@<%= @user.name %></td>
            </tr>
            <tr>
                <th class="p-2 border">ニックネーム</th>
                <td class="border"><%= @user.nickname %></td>
            </tr>
             <tr>
                <th class="p-2 border">電話番号</th>
                <td class="border"><%= @user.telephone_number %></td>
            </tr>
             <tr>
                <th class="p-2 border">メールアドレス</th>
                <td class="border"><%= @user.email %></td>
            </tr>
            <tr>
                <th class="p-2 border">会員ステータス</th>
                <td class="border"><%= @user.is_active %></td>
            </tr>
            <tr>
                <th class="p-2 border">会員登録日</th>
                <td class="border"><%= @user.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
        </table>
      <% end %>

         <div class="mt-3 p-5 col-11">
          <tr>
            <% if @user.email != 'guest@example.com'%>
            <%= link_to "編集する", edit_my_page_path(@user), class: "btn btn-outline-warning p-2 mr-4 mb-5" %>
            <% end %>
          </tr>
          <tr>
            <%= link_to "<< レビュー投稿一覧へ戻る", vegetainable_reviews_path, class: "btn btn-outline-warning p-2 mr-4 mb-5" %>
          </tr>
         </div>
      </body>
    </div>
    <div class="mt-2 mb-5 p-1 col-12">
        <h5>@<%= @user.name %> ( <%= @user.nickname %> ) さんのレビュー投稿一覧</h5>
    </div>
</div>
    <table>
    <tbody class="col-12 mt-5">
      <% @vegetainable_reviews.each do |vegetainable_review| %>
         <tr>
              <td>
                <%= link_to vegetainable_review_path(vegetainable_review.id) do %>
                <%= image_tag vegetainable_review.get_image(300, 200) if vegetainable_review.image.attached? %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="p-3">
              <%= image_tag vegetainable_review.user.get_profile_image(80, 80) %>
              @<%= vegetainable_review.user.name %> ( <%= vegetainable_review.user.nickname %> )</th>
            </tr>
        <tr>
          <th class="p-3"><%= vegetainable_review.title %></th>
        </tr>
        <tr>
          <td class="pt-1 pb-3 pl-3"><%= vegetainable_review.caption %></td>
        </tr>
        <tr>
          <td class="p-3">農家：<%= vegetainable_review.farmer_name %><hr clas="pt-4"></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  </div>