<div class="container">
       <table class="row">
            <div class="mt-5 p-1 col-12">
            <h5>@<%= @user.name %> ( <%= @user.nickname %> ) さんのレビュー投稿一覧</h5>
            </div>


    <tbody class="col-12">
      <% @vegetainable_reviews.each do |vegetainable_review| %>
         <tr>
              <td>
                <%= link_to vegetainable_review_path(vegetainable_review.id) do %>
                <%= image_tag vegetainable_review.get_image(300, 200) if vegetainable_review.image.attached? %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="p-3">
              <%= link_to user_path(vegetainable_review.user) do %>
              <%= image_tag vegetainable_review.user.get_profile_image(80, 80) %>
              @<%= vegetainable_review.user.name %> ( <%= vegetainable_review.user.nickname %> )</th>
              <% end %>
            </tr>
        <tr>
          <th class="p-3"><%= vegetainable_review.title %></th>
        </tr>
        <tr>
          <td class="pt-1 pb-3 pl-3"><%= vegetainable_review.caption %></td>
        </tr>
        <tr>
          <td class="p-3">農家：<%= vegetainable_review.farmer_name %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
</div>