<div class="container">
  <div class="row">
    <div class="col-sm-12 pt-2 ml-2">
        <p class="mb-5 h5"><%= flash[:notice] %></p>
      </div>
    <div class="col-md-12 pb-3 pt-1">
        <tr>
        <h5 class="pb-5"><%#= image_tag '716.jpg', class: 'hoge' , size: '80x80'%> ■ ユニークベジティナブルサイトとは？</h5>

        <p>形がいびつであったり、大きさがバラバラである規格外野菜をレビューするサイトです。</p>
        <p>食べられるのにスーパーの出荷基準に満たない野菜が破棄されてしまうなど、<br>
        サスティナビリティの観点より食品ロスをサポートいたします。</p>
        <p>どこで安くて美味しい野菜が販売されているのか、<br>
        どこの農家さんの野菜がおすすめなのか<br>
        珍しい野菜を作っている農家さんなど<br></p>
        <p>ぜひ探してみてください！</p>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-6 pt-4 pb-1">
          <h5><%#= image_tag '716.jpg', class: 'hoge' , size: '90x90'%>■名前の由来</h5>
          <p class="pb-4">ユニーク ∔ ベジタブル ∔ サスティナブル</p>
          <h5 class="pb-2">▼ 食品ロスとは？ ▼</h5>
          <%= link_to homes_about_path do %>
            <%= image_tag 'sdgs_food.jpg', class: 'hoge' , size: '300x100'%>
          <% end %>
      </div>
      <div class="col-sm-2 pt-4 mb-3">
        <%= link_to homes_about_path do %>
          <%= image_tag 'food.jpg', class: 'hoge' , size: '300x300'%>
        <% end %>
      </div>
  </div>
</div>