<div class="container">
    <div class="row">
       <table>
            <div class="mt-5 p-1 col-4 text-center">
            <h5><%= @user.name %> ( <%= @user.nickname %> ) さんの会員詳細</h5>
            </div>
       </table>

    <div class="col-12">

     <body>
        <table class="mt-5 w-50 text-left">
            <tr>
                <td class="pl-5 p-2">会員ID</td>
                <td><%= @user.id %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">アカウント名</td>
                <td><%= @user.name %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">ニックネーム</td>
                <td><%= @user.name %></td>
            </tr>
             <tr>
                <td class="pl-5 p-2">電話番号</td>
                <td><%= @user.telephone_number %></td>
            </tr>
             <tr>
                <td class="pl-5 p-2">メールアドレス</td>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">会員ステータス</td>
                <td><%= @user.is_active %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">会員登録日</td>
                <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
            </tr>

        </table>

         <div class="mt-5 p-10 w-15 m-5 p-5">
        <tr>
            <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-outline-warning p-2 mr-4 mb-5" %>
        </tr>
        <tr>
            <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-outline-warning p-2 mr-4 mb-5" %>
        </tr>
         </div>

    </body>

 </div>
</div>





<% @reviews.each do |review| %>
<%= review.id %><br>
<%= review.area %><br>

<% end %>
