<!DOCTYPE html>
<html>
  <head>
    <title>UniqueVegetainable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<div class="container">
  <div class="row">
  <body>
    <header>
      <tabele>
          <tr>
            <td>
              <div class="p-3 m-3 col-12">
              <%= link_to "ユニークベジティナブル", root_path, class: "border border-2 rounded py-2 px-5 w-50 ml-5 h2" %>
              </div>
            </td>
          </tr>
      </table>
    </header>

    <div class="row">
    <div class="col-12 text-right pr-5">
    <% if admin_signed_in? %>
      <tr>
        <td> <%= link_to "ユーザーの一覧", admin_users_path, class: "border border-2 rounded p-2 m-3" %></td>
      </tr>
      <tr>
        <td> <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: "border border-2 rounded p-2 m-3" %></td>
      </tr>
    <% elsif user_signed_in? %>
      <tr>
        <td><%= link_to 'レビュー投稿フォーム', new_vegetainable_review_path, class: "border border-2 rounded p-2 m-3" %></td>
      </tr>
      <tr>
        <td><%= link_to 'レビューの一覧', vegetainable_reviews_path, class: "border border-2 rounded p-2 m-3" %></td>
      </tr>
      <tr>
        <td><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "border border-2 rounded p-2 m-3" %></td>
      </tr>
    <% else %>
      <tr>
        <td><%= link_to "新規登録", new_user_registration_path, class: "border border-2 rounded p-2 m-3" %></td>
      </tr>
      <tr>
        <td><%= link_to "ログイン", new_user_session_path, class: "border border-2 rounded p-2 m-3" %></td>
      </tr>
    <% end %>
    </div>
    <%= yield %>

  </div>

  </body>
  </div>
  </div>

</html>
